<div style="padding-left: 9rem;padding-right: 9rem; padding-top:0rem !important; padding-bottom:0rem !important;">
    <div class="row col-md-12 ">
      <h4 style="margin-left: 40%;">EDIT SHIFT</h4>
    </div><br>
    <div class="row bg-info col-md-12" style="padding-top: 1rem;padding-bottom: 2rem">
      <br>
      <div class="col-md-6">
        <div class="form-group ">
          <label>Description</label>
          <input type="text" name="desc" class="form-control col-sm-9 col-md-9 col-lg-9" maxlength="15"
              [(ngModel)]="edit.Description">
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="form-group">
          <label>Abbreviation</label>
          <input type="text" name="abb" class="form-control col-sm-9 col-md-9 col-lg-9" maxlength="15"
           [(ngModel)]="edit.Abbrevation">
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="form-group">
          <label>Publish as</label>
          <input type="text" name="publish" class="form-control col-sm-9 col-md-9 col-lg-9" maxlength="15"
           [(ngModel)]="edit.PublishAs">
        </div>
      </div>
      <br>
      <div class="col-md-6 ">
        <div class="form-group">
          <label>Start Time</label>&nbsp;
          <p-calendar [inputStyle]="{'width':'155%'}" [(ngModel)]="StartTime" [timeOnly]="true" hourFormat="12"></p-calendar>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="form-group">
          <label>Paid hours</label>
          <input type="text" name="paidhrs" class="form-control col-sm-9 col-md-9 col-lg-9" maxlength="15"
           [(ngModel)]="edit.PaidHours">
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="form-group">
          <label>End Time</label>&nbsp;
          <p-calendar [inputStyle]="{'width':'155%'}" [(ngModel)]="EndTime" [timeOnly]="true" hourFormat="12"></p-calendar>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="form-group">
        <label>Colour</label>&nbsp;
        <div class="form-group">
      <input [(colorPicker)]="edit.Colour" [style.background]="edit.Colour" class="form-control col-sm-9 col-md-9 col-lg-9" />
      <!-- (colorPickerChange)="colourchange()"  -->
    </div>
  </div>
  </div>
  <div class="row col-md-12" style="margin-left: 45%">
    <button type="button" style="text-align:center" class="btn btn-success" (click)="editShift()"><b>EDIT</b></button></div>
  </div>
